[author]
	name = Basix
	email = basix@basix.tech
[user]
	name = Basix
	email = basix@basix.tech
	signingkey = F7E4D4D96797603C
[core]
	excludesfile = ~/.gitexclude
	pager = delta
	fsmonitor = true
[pull]
	rebase = true
[credential]
{{- if eq .chezmoi.os "windows" }}
	helper = manager-core
{{- else if eq .chezmoi.os "darwin" }}
	helper = /usr/local/share/gcm-core/git-credential-manager-core
{{- end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	program = gpg
[commit]
	gpgsign = true
[rebase]
	autoStash = true
	autoSquash = true
[merge]
	conflictstyle = diff3
[diff]
	algorithm = histogram
    colorMoved = default
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3

# Delta
[delta]
    navigate = true  # use n and N to move between diff sections
	theme = Monokai Extended
