{{ if stat (joinPath .chezmoi.homeDir ".orbstack") -}}
Include ~/.orbstack/ssh/config
{{- end }}
{{ if stat (joinPath .chezmoi.homeDir ".colima") -}}
Include ~/.colima/ssh_config
{{- end }}
Include ~/.ssh/config.d/*

Host *
    IgnoreUnknown SecurityKeyProvider
{{- if eq .chezmoi.os "windows" }}
    SecurityKeyProvider winhello.dll
{{- else if stat (joinPath .chezmoi.homeDir "Library/Containers/com.maxgoedjen.Secretive.SecretAgent") }}
    IdentityAgent /Users/blake/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{- else if stat (joinPath .chezmoi.homeDir ".1password") }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}

Host rendezvous.namespace.so
    SetEnv TERM=xterm-256color
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
