{{ if stat (joinPath .chezmoi.homeDir ".colima") -}}
Include /Users/sung/.colima/ssh_config
{{- end }}

Host *
    IgnoreUnknown SecurityKeyProvider
{{- if eq .chezmoi.os "windows" }}
    SecurityKeyProvider winhello.dll
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
