{{ if stat (joinPath .chezmoi.homeDir ".orbstack") -}}
Include ~/.orbstack/ssh/config
{{- end }}
{{ if stat (joinPath .chezmoi.homeDir ".colima") -}}
Include ~/.colima/ssh_config
{{- end }}
Include ~/.ssh/config.d/*

Host *
    IgnoreUnknown SecurityKeyProvider
{{- if eq .chezmoi.os "windows" }}
    SecurityKeyProvider winhello.dll
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
